<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Burger</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/lumen/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	</head>
	<body>
		{{{ body }}}
	</body>
</html>


        <form class="create-form">
            <div class="form-group">
                <input type="text" id="new-burger" name="name">
            </div>

            <button type="submit" class="btn btn-primary">Add Burger</button>
        </form>
    </div>
</body>

</html>