<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        {{!-- Font Awesome --}}
        <script src="https://kit.fontawesome.com/fa142e857b.js"></script>
        {{!-- Google Font --}}
        <link href="https://fonts.googleapis.com/css?family=PT+Sans|ZCOOL+KuaiLe&display=swap" rel="stylesheet">
        {{!-- Bootstrp --}}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {{!-- My CSS --}}
        <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
        {{!-- jQuery --}}
        <script src="https://code.jquery.com/jquery.js"></script>

        <title>Eat-Da-Burger!</title>
    </head>

    <body>
        {{!-- Main Logo --}}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">EatBurger            
                    <img src="/assets/images/burgerImage.png" width="100px" id="cute_burger">
                </h1>
            </div>
        </div>

        {{{ body }}}

        <br><br>

        
        <footer>
            <div class="container">
                <p> 2019 BurgerApp/ Nursaid | <a href=https://github.com/nursaids/burgerapp.git>GitHub </a> 
                </p> 
            </div>
        </footer> 
    </body>
</html>
