<img src="" alt="">
<h1 class= "title d-flex justify-content-center">Eat-Da-Burger!</h1>

<div class="container">
    <div class= "row">
        <div class = "col-12 justify-content-center">
            {{!-- image of burger --}}
        </div>
    </div>
    <div class= "row">
        <div class = "col-6 justify-content-center left-div">
            {{#each burger}}
            {{#unless eaten}}
            <li class="div border border-warning bg-warning text-dark d-flex">
                <span class="d-flex p-2" style="font-weight:700">{{name}}</span>
                <button type="button" class="btn btn-danger d-flex ml-auto p-2 eat" identify = "{{id}}">Eat</button>
            </li>
            {{/unless}}
            {{/each}}
        </div>
        <div class= "col-6 justify-content-center right-div">
            {{#each burger}}
            {{#if eaten}}
            <div class="div bg-secondary text-dark d-flex">
                <span class="d-flex p-2" style="font-weight:700">{{name}}</span>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
    <div class = "row">
        <div class = "col-12 justify-content-center">
            <div class="form-group">
                <label for="burger-input">Type in a burger you want to eat and press submit!</label>
                <textarea class="form-control" id="burger-input" rows="3"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 justify-content-center">
            <button type="button" class="btn btn-primary add-input">Primary</button>
        </div>
        <div class="col-12 justify-content-center">
        </div>
    </div>
</div>

<script>
    $(".add-input").on("click", function(){
        var newBurger = {
            name : $("#burger-input").val(),
            eaten : 0
        }
        $.ajax("/", {
            type: "POST",
            data: newBurger
        }).then(function (data) {
            console.log(data);
            location.reload();
        });
    })
    $(".eat").on("click", function(){
        if ($(this).attr("identify")) {
            var data2 = { id: $(this).attr("identify")};
            $.ajax("/", {
                type: "PUT",
                data: data2
            }).then(function (data) {
                console.log(data);
                location.reload();
            });
        }
    });
</script>
