/* general */
body{
    background: rgb(163, 121, 29);
}
h1, h2 {
    font-family: 'Comic Sans', cursive;
}
#name, .addBurgerButton, li, footer{
    font-family: 'PT Sans', sans-serif;
}
.row{
    width:80%;
}

/* jumbotron */
.jumbotron{
    width:60%;
    margin-top:2%;
    margin-left: 20%;
    background: rgb(163, 121, 29);
    border-radius:16px;
    padding:2%;
}
h1{
    color: white;
    text-align: center;
}

/* app */
.app{
    margin-left:20%;
}
li{
    font-size:20px;
}
.uneaten{
    border-style: none;
    border-radius:50%;
}
#name{
    border-style: none;
    padding-left:1%;
}
.add{
    border:none;
    border-radius:16px;
    transition-duration: 0.2s;
}
.add:hover, .uneaten:hover{
    background: rgb(163, 121, 29);
}

/* footer */
footer{
    text-align: center;
}